.fullPost{
    width: 80%;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 35px;
}

.fullPost a{
    text-decoration: none;
    color: red;
}

.crossOut{
    text-align: center;
    margin-bottom: 20px;
}

.aced{
    color: green
}

.failed{
    margin-left: 10px;
}

.button{
    background: none;
    padding: 10px;
}

.newPostButton{
    margin: 5px 0;
    padding: 10px;
    width : 90px;
    color: #fa923f;
    cursor: pointer;
    border: 1px solid #fa923f;
    background: transparent;
    border-radius: 13px;
    margin-left: 15px;
}

.newPostButton_danger{
    margin: 5px 0;
    padding: 10px;
    width : 90px;
    color: #fa923f;
    cursor: pointer;
    border: 1px solid #fa923f;
    background: transparent;
    border-radius: 13px;
    margin-left: 15px;
}


.newPostButton:hover,
.newPostButton:active{
    color:white;
    background: #32CD32;
}

.newPostButton_danger:hover,
.newPostButton_danger:active{
    color:white;
    background: red;
}
