/* in phone mode */
.navItem{
    list-style: none;
    box-sizing: border-box;
    }

/* in desktop mode */
@media (min-width: 501px){
    .navItem{
        width: auto;
    }

    .navItem a {
        display: block;
        padding: 16px 10px;
    }

}
/* in phone mode */
@media (max-width: 500px){
    .navItem{
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;

    }

    .navItem a{
        font-size: 20px;
        padding: 20px 0;

    }
}
/* #abd7eb */
.navItem a {
    text-decoration: none;
    color: #1c2833;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.navItem a:hover
/* .navItem a:active, */

{
    background-color: #abd7eb;
    color:blue;
    border-bottom: 4px solid white;
}

.navItem a.active{
    background-color: #abd7eb;
    color:blue;
    border-bottom: 4px solid white;
}
