.navItem{
    list-style: none;
    /* why display:block??? */
    box-sizing: border-box;
    /* width: 100%; */
}


@media (min-width: 500px){
    .navItem{
        width: auto;
        /* height: 100%; */
    }

    .navItem a {
        /* height: 100%; */
        display: block;
        padding: 16px 10px;
    }

}
/* #abd7eb */
.navItem a {
    text-decoration: none;
    color: #1c2833;
    width: 100%;
    /* display block?? */
    display: block;
    box-sizing: border-box;
}

.navItem a:hover,
.navItem a:active{
    background-color: #abd7eb;
    border-bottom: 4px solid #8F5C2C;
}

